body {
    background-color: rgb(92, 131, 116);
    font-family: Arial, sans-serif;
  }

  .header {
    color: white;
    font-size: 250%;
    background-image: url('education.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    background-position: center center;
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(147, 177, 166, 0.3);
    position: fixed;
    top: 0;
    height: 100%;
  }

  li {
    position: relative;
    float: left;
  }

  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(24, 61, 61);
  }

  .right {
    display: flex;
    padding: 10px;
    width: 70%;
    background-color: rgb(24, 61, 61);
    color: white;
    margin-left: 20%;
  }

  .left {
    display: flex;
    padding: 10px;
    width: 70%;
    background-color: rgb(24, 61, 61);
    margin-right: 10%;
    color: white;
    margin-left: 20%;
    margin-bottom: 5%;
  }

  .left:hover {
    transform: scale(1.05);
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: white;
  }

  .right:hover {
    transform: scale(1.05);
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: white;
  }

  .container:hover {
    transform: scale(1.05);
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: white;
  }
  
  .p1 {
    position: relative;
    padding: 10px;
    margin-left: 20%;
    text-align: justify;
    margin-right: 20%;
    color: white;
  }

  .text1{
    float: left;
    margin-left: 3%;
  }

  .text2{
    float: left;
    margin-left: 3%;
  }

  .text3{
    float: left;
    margin-left: 3%;
  }

  img {
    max-width: 25%;
    max-height:15%;
    float: left;
  }

  .container {
    display:flex;
    margin-top: 5%;
    padding: 10px;
    width: 70%;
    background-color: rgb(24, 61, 61);
    color: white;
    margin-left: 20%;
    margin-bottom: 5%;
  }

  .p2 {
    position: relative;
    padding: 10px;
    margin-left: 20%;
    text-align: justify;
    margin-right: 20%;
    color: white;
    font-size: 120%;
  }

  .footer {
      margin-top: 5%;
      width: 100%;
      padding: 100px 15%;
      background: #333;
      color: #efefef;
      display: flex;
  }
 
  .footer div{
    text-align: center;
  }

  .col1{
    margin-left: 10%;
  }

  .col2{
    flex-grow: 2;
    margin-right: 0;
  }

  .footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  .col1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
  }

  .col3{
    flex-grow: 2;
    margin-right: 15%;
  }

  form input{
    width: 200px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
  }

  form button{
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      border-radius: 30px;
      padding: 10px 30px;
      font-size: 15px;
      cursor: pointer;
  }

  .social-icons{
    margin-top: 30px;
  }

  .social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
  }